body {
    font-family: Arial;
    font-size: 20px;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: blue;
    margin: 5px;
}

button,
input[type=submit] {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

h1 {
    color: #333;
}